rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regras para usuários
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Regras para certificados
    match /certificados/{certificadoId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && 
                   resource == null && 
                   request.resource.data.userId == request.auth.uid;
      allow update: if request.auth != null && 
                   (request.auth.uid == resource.data.userId || 
                    get(/databases/$(database)/documents/users/$(request.auth.uid)).data.type == 'professor');
      allow delete: if request.auth != null && 
                   request.auth.uid == resource.data.userId &&
                   resource.data.status == 'Pendente';
    }
    
    // Regras para atividades (somente leitura)
    match /atividades/{atividadeId} {
      allow read: if request.auth != null;
      allow write: if false; // Apenas administradores podem modificar
    }
    
    // Regras para grupos (somente leitura)
    match /grupos/{grupoId} {
      allow read: if request.auth != null;
      allow write: if false; // Apenas administradores podem modificar
    }
  }
} 